.bodyDetails {
  background-color: #3c3f63;
  color: white;
  font-family: copperplate , sans-serif;
}

.headerImg {
  align-items: center;
  background-color: rgba(28, 30, 52, 0.62);
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  position: relative;
  width: 100%;
}

.imgDetails {
  align-items: center;
  border-radius: 5px;
  margin-top: 40px;
}

.containerMenu {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  padding: 0 20px;
  position: relative;
}

.video {
  align-items: center;
  margin: 20px;
  padding: 20px;
}

.recommendedText {
  margin-left: 85px;
}

.recommendedContainer {
  background-color: #a94c40;
  padding: 30px 0 0 30px;

}
