.container {
  background-image: url('../images/login\ bg.png');
  background-size: cover;
  padding-top: 130px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  height: 450px;
  justify-content: center;
  overflow-y: scroll;
  padding-bottom: 10px;
}

.cards {
  background-color: rgba(28, 30, 52, 0.62);
  border-radius: 8px;
  height: 150px;
  margin: 4px;
  width: 100px;
}

.cards p {
  color: white;
  font: 700;
  text-align: center;
}
