.explore-container {
  background-image: url('../images/login\ bg.png');
  background-size: cover;
  height: 100vh;
  position: relative;
}

.button-container {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.explore-container .remy {
  bottom: 68px;
  position: absolute;
  right: 10px;
  width: 150px;
}
