.explore-container {
  background-image: url('../images/login\ bg.png');
  background-size: cover;
  height: 100vh;
  padding-top: 130px;
  position: relative;
}

.button-container {
  display: flex;
  flex-direction: column;
}

.explore-container .remy {
  bottom: 68px;
  position: absolute;
  right: 10px;
  width: 150px;
}

header {
  position: absolute;
  top: 0;
  width: 100vw;
}
