.foods {
  background-image: url('../images/restaurantBG.png');
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  width: 100vw;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  justify-content: space-between;
  margin: 10px;
}

.cards img {
  width: 100px;
}

.btncategories {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  -ms-overflow-style: none;
  overflow-x: auto;
  scrollbar-width: none;
}

.btncategories::-webkit-scrollbar {
  display: none;
}

.btncategories button {
  background-color: #fab71d;
  border: 0;
  border-radius: 8px;
  color: #2c3283;
  margin: 0 5px;
  min-width: 109.5px;
  padding: 4px 10px;
  transition: 0.1s;
}

.btncategories button:active {
  transform: scale(0.95);
}
