.foods {
  background-image: url('../images/restaurantBG.png');
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  justify-content: space-between;
  margin: 10px;
  overflow-y: scroll;
}

.cards img {
  width: 100px;
}

.btncategories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;
}

.btncategories button {
  background-color: #fab71d;
  border-radius: 8px;
  color: #2c3283;
  width: 150px;
}
