.navFooter {
  background-color: rgb(167, 167, 167);
  bottom: 0;
  padding: 10px 0;
  position: fixed;
  width: 100%;
}

.navFooter ul {
  align-items: center;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0 auto;
  padding-inline-start: 0;
  text-align: center;
}

button {
  all: unset;
}
