* {
  margin: 0;
  padding: 0;
}

.header {
  align-items: center;
  color: white;
  display: flex;
  padding-top: 10px;
}

.header h1 {
  color: white;
  font-family: copperplate , sans-serif;
  margin: 0;
}
